.header-page {
    background-image: url("https://images.unsplash.com/photo-1508971344143-29b17efc1689?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
    padding: 15%;
}

.header-bubble {
    padding: 10%;
}

@media (max-width: 768px) {

    /* For mobile phones: */
    .header-bubble {
        font-size: 1rem;
    }
}

.card-deck {
    padding: 10%;
    background-color: white;
}

.card-icon {
    text-align: center;
    color: aquamarine;
    padding:10%
}

.cool {
    color: aquamarine;
    font-size: 1.5rem;
}

.bottom-page {
    background-image: url("https://images.unsplash.com/photo-1553949333-0510da388b82?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80");
    padding: 10%;
}